/*
* @Author: chaihongjun
* @Date:   2017-08-27 16:57:12
* @Last Modified by:   chaihongjun
* @Last Modified time: 2017-08-27 19:14:22
*/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}

nav {
    margin: 30px auto 0;
    height: 50px;
    width: 800px;
}
    ul {
        list-style: none;
        height: 50px;
        border-top: 2px solid #000;
        margin: 0 auto;
        display: inline-block;

    }

    ul li {
        float: left;
        width: 100px;
        text-align: center;
        background: #ccc;
        height: 50px;
        line-height: 50px;
        margin-right:10px;
        overflow: hidden;

    }

    ul li:nth-last-child(1){
        margin-right: 0;
    }

    ul li a {
        display: block;
        height: 50px;
    }

    ul li a span{
       height: 50px;
       display: block;
   }

   ul li .en{

    color: #fff;
    background: #000;

}


ul li:hover  .zh{
display: none;

}



ul li:hover  .en{
   display: block;
   transition: all 3s ease;
}
